body {
  background: #171717;
}

@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
        transform-style: preserve-3d;
        box-shadow: 0 0 0 rgba(0,0,0,.9);
    }

    75% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -5px, 0);
        transform-style: preserve-3d;
        box-shadow: 0 5px 5px rgba(0,0,0,.5);
    }

    90% {
        transform: translate3d(0,-2px,0);
        transform-style: preserve-3d;
        box-shadow: 0 2px 2px rgba(4px,0,4px,.7);
    }
}

.bump {
    width: 100px;
    height: 50px;
    animation: bounce 0.3s 1;
    transform-origin: center bottom;
    &:hover, &:focus {
        animation: none;
    }
}

.beatmatcher {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}
